[Unit]
Description=Dagster dev (webserver + daemon)
After=network.target

[Service]
Type=simple
User=ubuntu
Environment=DAGSTER_HOME={{ dagster_home }}
ExecStart={{ dagster_home }}/venv/bin/dagster dev --host 0.0.0.0 --port 3000{% for f in dagster_files %} -f {{ dagster_home }}/defs/{{ f }}{% endfor %}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
